{{- range .DomainTypes }}
class {{ .Name }} {
  final {{ .InnerType }} value;

  {{ .Name }}(this.value);

  factory {{ .Name }}.fromQueryResult(dynamic value) {
    return {{ .Name }}(value as {{ .InnerType }});
  }

  {{ .InnerType }} asSqlType() {
    return value;
  }
  @override
  bool operator ==(Object other) =>
      identical(this, other) ||
      other is {{ .Name }} &&
      runtimeType == other.runtimeType &&
      value == other.value;

  @override
  int get hashCode => value.hashCode;

  @override
  String toString() {
    return '{{ .Name }}($value)';
  }
}
{{- end -}}
