{{- /*
https://pkg.go.dev/text/template
https://github.com/sqlc-dev/sqlc/blob/main/protos/plugin/codegen.proto
*/ -}}

{{- define "EvalQueryResult" -}}
{{- if eq .FunctionReturnType  "void" }}
  return;
{{- else -}}
{{if gt (len .Columns) 1 -}}
{{if eq .Cmd ":many" }}
  return result.map({{ .RowType }}.fromQueryResult).toList();
{{- end -}}
{{if eq .Cmd ":one" }}
  if (result.isNotEmpty) {
    return {{ .RowType }}.fromQueryResult(result.first);
  }
  return null;
{{- end -}}
{{- else -}}
{{if  eq .Cmd ":many" }}
  return result.cast<{{ .RowType }}>();
{{- end -}}
{{if eq .Cmd ":one" }}
  if (result.isNotEmpty) {
    return result.cast<{{ .RowType }}>();
  }
  return null;
{{- end -}}
{{- end -}}
{{- end }}
{{- end -}}

import 'package:postgres/postgres.dart';
import 'package:sqlc_gen_dart/sqlc_gen_dart.dart';
import '{{ .DomainTypesDartFilePath }}';

{{range .Queries -}}
{{- range .Comments -}}// {{.}}
{{- end -}}

{{- $evalQueryResult := EvalQueryResultInput . -}}
{{$rowType := $evalQueryResult.RowType -}}

{{if gt (len .Columns) 1 }}
class {{ $rowType }} {
  {{- range .Columns}}
  final {{ DartType .}}{{- if not .NotNull }}?{{end}} {{ ToCamelCase .Name}};
  {{- end}}

  {{ $rowType }}({
    {{- range .Columns}}
    required this.{{ ToCamelCase .Name}},
    {{- end}}
  });

  factory {{ $rowType }}.fromQueryResult(ResultRow row) {
    return {{ $rowType }}(
      {{- range $i, $column := .Columns}}
      {{ ToCamelCase $column.Name}}: {{ if IsDomainTypeColumn $column }}{{- DartType $column -}}.fromQueryResult(row[{{$i}}]),
      {{- else  -}} row[{{$i}}] as {{ DartType $column }},{{end}}
      {{- end}}
    );
  }
}
{{- else -}}
typedef {{ $rowType }} = {{ DartType (index .Columns 0) }}{{- if not (index .Columns 0).NotNull -}}?{{- end -}};
{{- end}}

///  {{.Name}} {{.Cmd}}
Future<{{- $evalQueryResult.FunctionReturnType }}> {{.Name}}(
  Session session, {
  {{- range .Params}}
  required {{DartType .Column}} {{ToCamelCase .Column.Name}},
  {{- end}}
  QueryParameter queryParameter = QueryParameter.defaultParameter,
}) async {
  {{if ne $evalQueryResult.FunctionReturnType  "void"}}
  final result = {{ end -}}await session.execute("""
    {{ EscapeQueryPlaceholder .Text }}
  """,
      ignoreRows: queryParameter.ignoreRows,
      queryMode: queryParameter.queryMode,
      timeout: queryParameter.timeout,
      parameters: [
        {{- range .Params}}
        {{ToCamelCase .Column.Name}}{{- if IsDomainTypeColumn .Column }}.asSqlType(){{- else }}{{- end}},
        {{- end}}
      ]);
  {{- template "EvalQueryResult" $evalQueryResult }}
}
{{- end -}}
